---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=brussels,be&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Brussels
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Brussels",
                       "short_name" : "Brussels",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Brussels",
                       "short_name" : "Brussels",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "Belgium",
                       "short_name" : "BE",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Brussels, Belgium",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 50.91370999999999,
                          "lng" : 4.4369799
                       },
                       "southwest" : {
                          "lat" : 50.7962401,
                          "lng" : 4.3138
                       }
                    },
                    "location" : {
                       "lat" : 50.8503396,
                       "lng" : 4.3517103
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 50.91370999999999,
                          "lng" : 4.4369799
                       },
                       "southwest" : {
                          "lat" : 50.7962401,
                          "lng" : 4.3138
                       }
                    }
                 },
                 "place_id" : "ChIJZ2jHc-2kw0cRpwJzeGY6i8E",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sun, 07 Jun 2020 16:15:07 GMT
recorded_with: VCR 6.0.0
