---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=cairns,au&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Cairns",
                       "short_name" : "Cairns",
                       "types" : [ "colloquial_area", "locality", "political" ]
                    },
                    {
                       "long_name" : "Cairns Regional",
                       "short_name" : "Cairns",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Queensland",
                       "short_name" : "QLD",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "Australia",
                       "short_name" : "AU",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Cairns QLD, Australia",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : -16.722394,
                          "lng" : 145.7834316
                       },
                       "southwest" : {
                          "lat" : -17.0386589,
                          "lng" : 145.650457
                       }
                    },
                    "location" : {
                       "lat" : -16.9185514,
                       "lng" : 145.7780548
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : -16.722394,
                          "lng" : 145.7834316
                       },
                       "southwest" : {
                          "lat" : -17.0386589,
                          "lng" : 145.650457
                       }
                    }
                 },
                 "place_id" : "ChIJEySiW1VieGkRYHggf_HuAAQ",
                 "types" : [ "colloquial_area", "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 09 Jun 2020 21:32:43 GMT
recorded_with: VCR 6.0.0
