---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_API_KEY>&exclude=minutely,hourly&lat=39.7392358&lon=-104.99025
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.99,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1591566363,"sunrise":1591529528,"sunset":1591583161,"temp":304.62,"feels_like":299.17,"pressure":997,"humidity":9,"dew_point":268.55,"uvi":10.74,"clouds":0,"wind_speed":4.02,"wind_deg":150,"wind_gust":9.83,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"daily":[{"dt":1591552800,"sunrise":1591529528,"sunset":1591583161,"temp":{"day":304.62,"min":296.54,"max":304.62,"night":296.54,"eve":304.2,"morn":304.62},"feels_like":{"day":294.64,"night":289.58,"eve":294.64,"morn":294.64},"pressure":997,"humidity":9,"dew_point":268.55,"wind_speed":10.5,"wind_deg":202,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"clouds":0,"uvi":10.74},{"dt":1591639200,"sunrise":1591615917,"sunset":1591669595,"temp":{"day":298.03,"min":280.49,"max":299.97,"night":280.49,"eve":299.55,"morn":288.76},"feels_like":{"day":291.78,"night":276.81,"eve":292.23,"morn":284.79},"pressure":1006,"humidity":16,"dew_point":263.95,"wind_speed":5.58,"wind_deg":173,"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10d"}],"clouds":0,"rain":7.04,"uvi":11.08},{"dt":1591725600,"sunrise":1591702307,"sunset":1591756027,"temp":{"day":291.08,"min":284.54,"max":294.53,"night":290.43,"eve":294.51,"morn":284.54},"feels_like":{"day":283.82,"night":286.09,"eve":287.75,"morn":279.82},"pressure":1014,"humidity":25,"dew_point":264.66,"wind_speed":7.07,"wind_deg":312,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"clouds":17,"uvi":9.11},{"dt":1591812000,"sunrise":1591788699,"sunset":1591842457,"temp":{"day"[...]
