---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=portland,or&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Portland, OR
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Portland",
                       "short_name" : "Portland",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Multnomah County",
                       "short_name" : "Multnomah County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Oregon",
                       "short_name" : "OR",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Portland, OR, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 45.6528856,
                          "lng" : -122.4719641
                       },
                       "southwest" : {
                          "lat" : 45.43254049999999,
                          "lng" : -122.8366901
                       }
                    },
                    "location" : {
                       "lat" : 45.5051064,
                       "lng" : -122.6750261
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 45.6528856,
                          "lng" : -122.4719641
                       },
                       "southwest" : {
                          "lat" : 45.43254049999999,
                          "lng" : -122.8366901
                       }
                    }
                 },
                 "place_id" : "ChIJJ3SpfQsLlVQRkYXR9ua5Nhw",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 08 Jun 2020 23:43:26 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_API_KEY>&exclude=minutely&lat=45.5051064&lon=-122.6750261&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":45.51,"lon":-122.68,"timezone":"America/Los_Angeles","timezone_offset":-25200,"current":{"dt":1591659238,"sunrise":1591618941,"sunset":1591675063,"temp":63.1,"feels_like":59.22,"pressure":1024,"humidity":51,"dew_point":44.71,"uvi":7.41,"clouds":90,"visibility":16093,"wind_speed":4.7,"wind_deg":80,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1591657200,"temp":63.1,"feels_like":57.81,"pressure":1024,"humidity":51,"dew_point":44.71,"clouds":90,"wind_speed":7.18,"wind_deg":226,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},{"dt":1591660800,"temp":64.8,"feels_like":58.98,"pressure":1023,"humidity":43,"dew_point":41.81,"clouds":94,"wind_speed":7,"wind_deg":243,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},{"dt":1591664400,"temp":65.8,"feel[...]
