---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=dc,dc&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Washington, DC
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Washington",
                       "short_name" : "Washington",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "District of Columbia",
                       "short_name" : "District of Columbia",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "District of Columbia",
                       "short_name" : "DC",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Washington, DC, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 38.995548,
                          "lng" : -76.90939299999999
                       },
                       "southwest" : {
                          "lat" : 38.7916449,
                          "lng" : -77.119759
                       }
                    },
                    "location" : {
                       "lat" : 38.9071923,
                       "lng" : -77.03687069999999
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 38.995548,
                          "lng" : -76.90939299999999
                       },
                       "southwest" : {
                          "lat" : 38.7916449,
                          "lng" : -77.119759
                       }
                    }
                 },
                 "place_id" : "ChIJW-T2Wt7Gt4kRKl2I1CJFUsI",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 09 Jun 2020 23:37:44 GMT
recorded_with: VCR 6.0.0
