---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=portland,or&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Portland, OR
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Portland",
                       "short_name" : "Portland",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Multnomah County",
                       "short_name" : "Multnomah County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Oregon",
                       "short_name" : "OR",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Portland, OR, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 45.6528856,
                          "lng" : -122.4719641
                       },
                       "southwest" : {
                          "lat" : 45.43254049999999,
                          "lng" : -122.8366901
                       }
                    },
                    "location" : {
                       "lat" : 45.5051064,
                       "lng" : -122.6750261
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 45.6528856,
                          "lng" : -122.4719641
                       },
                       "southwest" : {
                          "lat" : 45.43254049999999,
                          "lng" : -122.8366901
                       }
                    }
                 },
                 "place_id" : "ChIJJ3SpfQsLlVQRkYXR9ua5Nhw",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 08 Jun 2020 16:40:13 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_API_KEY>&exclude=minutely&lat=45.5051064&lon=-122.6750261&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":45.51,"lon":-122.68,"timezone":"America/Los_Angeles","timezone_offset":-25200,"current":{"dt":1591634413,"sunrise":1591618941,"sunset":1591675063,"temp":55.11,"feels_like":50.05,"pressure":1025,"humidity":76,"dew_point":47.7,"uvi":7.41,"clouds":90,"visibility":16093,"wind_speed":8.05,"wind_deg":170,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1591632000,"temp":55.11,"feels_like":50.79,"pressure":1025,"humidity":76,"dew_point":47.7,"clouds":90,"wind_speed":6.73,"wind_deg":214,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},{"dt":1591635600,"temp":55.29,"feels_like":50.14,"pressure":1025,"humidity":70,"dew_point":45.7,"clouds":93,"wind_speed":7.34,"wind_deg":211,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},{"dt":1591639200,"temp":57.04,"feels_like":50.9,"pressure":1024,"humidity":61,"dew_point":43.74,"clouds":95,"wind_speed":8.32,"wind_deg":213,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},{"dt":1591642800,"temp":59.29,"feels_like":52.92,"pressure":1023,"humidity":52,"dew_point":41.68,"clouds":99,"wind_speed":7.96,"wind_deg":214,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"rain":{"1h":0.12}},{"dt":1591646400,"temp":62.06,"feels_like":55.33,"pressure":1023,"humidity":46,"dew_point":41.07,"clouds":99,"wind_speed":8.37,"wind_deg":218,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},{"dt":1591650000,"temp":64.49,"feels_like":57.52,"pressure":1023,"humidity":43,"dew_point":41.59,"clouds":99,"wind_speed":8.95,"wind_deg":223,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},{"dt":1591653600,[...]
