---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=-VgrHlxIKcKyM5wvHL9vcQ14C8lx2hxa5cvp7-Qjmdo&query=portland,or
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?client_id=-VgrHlxIKcKyM5wvHL9vcQ14C8lx2hxa5cvp7-Qjmdo&page=123&query=portland%2Cor>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=-VgrHlxIKcKyM5wvHL9vcQ14C8lx2hxa5cvp7-Qjmdo&page=2&query=portland%2Cor>;
        rel="next"
      X-Total:
      - '1221'
      X-Per-Page:
      - '10'
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: '{"total":1221,"total_pages":123,"results":[{"id":"lXBGCH-mLvM","created_at":"2017-07-17T18:52:31-04:00","updated_at":"2020-06-08T10:44:35-04:00","promoted_at":null,"width":5841,"height":3286,"color":"#F0ECE4","description":null,"alt_description":"red
        train in between gray concrete wall","urls":{"raw":"https://images.unsplash.com/photo-1500331882646-91f0854732b3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjE0MDkwMX0","full":"https://images.unsplash.com/photo-1500331882646-91f0854732b3?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0MDkwMX0","regular":"https://images.unsplash.com/photo-1500331882646-91f0854732b3?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjE0MDkwMX0","small":"https://images.unsplash.com/photo-1500331882646-91f0854732b3?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0MDkwMX0","thumb":"https://images.unsplash.com/photo-1500331882646-91f0854732b3?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjE0MDkwMX0"},"links":{"self":"https://api.unsplash.com/photos/lXBGCH-mLvM","html":"https://unsplash.com/photos/lXBGCH-mLvM","download":"https://unsplash.com/photos/lXBGCH-mLvM/download","download_location":"https://api.unsplash.com/photos/lXBGCH-mLvM/download"},"categories":[],"likes":110,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"user":{"id":"-g2kjH7T0Wo","updated_at":"2019-11-29T19:20:47-05:00","username":"mikeack","name":"Mike
        Ackerman","first_name":"Mike","last_name":"Ackerman","twitter_username":"mikeack","portfolio_url":"http://mikeack.com","bio":"Come
        say hello to me on Instagram & Twitter @mikeack. Or \ud83d\udce9 me at mike@mikeack.com","location":"Portland,
        OR","links":{"self":"https://api.unsplash.com/users/mikeack","html":"https://unsplash.com/@mikeack","photos":"https://api.unsplash.com/users/mikeack/photos","likes":"https://api.unsplash.com/users/mikeack/likes","portfolio":"https://api.unsplash.com/users/mikeack/portfolio","following":"https://api.unsplash.com/users/mikeack/following","followers":"https://api.unsplash.com/users/mikeack/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1489001708426-adf9e91fec15?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32","medium":"https://images.unsplash.com/profile-1489001708426-adf9e91fec15?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64","large":"https://images.unsplash.com/profile-1489001708426-adf9e91fec15?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128"},"instagram_username":"mikeack","total_collections":0,"total_likes":8,"total_photos":6,"accepted_tos":false},"tags":[{"type":"search","title":"train"},{"type":"search","title":"transportation"},{"type":"search","title":"box"}]},{"id":"pbr1-8LmvMg","created_at":"2018-07-06T12:10:37-04:00","updated_at":"2020-06-07T01:13:41-04:00","promoted_at":null,"width":2400,"height":4267,"color":"#E6D4C9","description":"This
        is the view from the Pittock Mansion in Portland, Oregon. Right before the
        sunset, the city\u2019s skyline is at its absolute best with Mount Hood with
        all its glory. I know there are many many versions o[...]
