---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=portland,or&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Portland, OR
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Portland",
                       "short_name" : "Portland",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Multnomah County",
                       "short_name" : "Multnomah County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Oregon",
                       "short_name" : "OR",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Portland, OR, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 45.6528856,
                          "lng" : -122.4719641
                       },
                       "southwest" : {
                          "lat" : 45.43254049999999,
                          "lng" : -122.8366901
                       }
                    },
                    "location" : {
                       "lat" : 45.5051064,
                       "lng" : -122.6750261
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 45.6528856,
                          "lng" : -122.4719641
                       },
                       "southwest" : {
                          "lat" : 45.43254049999999,
                          "lng" : -122.8366901
                       }
                    }
                 },
                 "place_id" : "ChIJJ3SpfQsLlVQRkYXR9ua5Nhw",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 09 Jun 2020 02:22:08 GMT
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=-VgrHlxIKcKyM5wvHL9vcQ14C8lx2hxa5cvp7-Qjmdo&query=Portland,%20OR,%20USA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?client_id=-VgrHlxIKcKyM5wvHL9vcQ14C8lx2hxa5cvp7-Qjmdo&page=4079&query=Portland%2C+OR%2C+USA>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=-VgrHlxIKcKyM5wvHL9vcQ14C8lx2hxa5cvp7-Qjmdo&page=2&query=Portland%2C+OR%2C+USA>;
        rel="next"
      X-Total:
      - '40784'
      X-Per-Page:
      - '10'
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '40'
    body:
      encoding: ASCII-8BIT
      string: '{"total":40784,"total_pages":4079,"results":[{"id":"yki-YCigBv0","created_at":"2019-02-24T16:14:34-05:00","updated_at":"2020-06-07T01:17:31-04:00","promoted_at":null,"width":5150,"height":3433,"color":"#0A1509","description":null,"alt_description":"aerial
        photography of high-rise buildings during daytime","urls":{"raw":"https://images.unsplash.com/photo-1551042863-dbb4938b111f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjE0MDkwMX0","full":"https://images.unsplash.com/photo-1551042863-dbb4938b111f?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0MDkwMX0","regular":"https://images.unsplash.com/photo-1551042863-dbb4938b111f?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjE0MDkwMX0","small":"https://images.unsplash.com/photo-1551042863-dbb4938b111f?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0MDkwMX0","thumb":"https://images.unsplash.com/photo-1551042863-dbb4938b111f?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjE0MDkwMX0"},"links":{"self":"https://api.unsplash.com/photos/yki-YCigBv0","html":"https://unsplash.com/photos/yki-YCigBv0","download":"https://unsplash.com/photos/yki-YCigBv0/download","download_location":"https://api.unsplash.com/photos/yki-YCigBv0/download"},"categories":[],"likes":50,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"user":{"id":"1_F9WbR9xck","updated_at":"2020-05-04T16:05:21-04:00","username":"knopka","name":"Knopka
        Ivy","first_name":"Knopka","last_name":"Ivy","twitter_username":null,"portfolio_url":null,"bio":null,"location":null,"links":{"self":"https://api.unsplash.com/users/knopka","html":"https://unsplash.com/@knopka","photos":"https://api.unsplash.com/users/knopka/photos","likes":"https://api.unsplash.com/users/knopka/likes","portfolio":"https://api.unsplash.com/users/knopka/portfolio","following":"https://api.unsplash.com/users/knopka/following","followers":"https://api.unsplash.com/users/knopka/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1543731734033-6691e8aa141c?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32","medium":"https://images.unsplash.com/profile-1543731734033-6691e8aa141c?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64","large":"https://images.unsplash.com/profile-1543731734033-6691e8aa141c?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128"},"instagram_username":null,"total_collections":1,"total_likes":138,"total_photos":17,"accepted_tos":true},"tags":[{"type":"landing_page","title":"nature","source":{"ancestry":{"type":{"slug":"images","pretty_slug":"Images"},"category":{"slug":"nature","pretty_slug":"Nature"}},"title":"Nature
        Images","subtitle":"Download free nature images","description":"Nature produces
        the most astoundingly beautiful images: the swirling lava of a volcano, palm
        trees against a blue sky, snow-capped mountains towering above. Unsplash has
        magnificent , high-quality photos of all the delights that nature has to offer.","meta_title":"100+
        Nature Pictures | Download Free Images & Stock Photos on Unsplash","meta_description":"Choose
        from hundreds of free nature pictures. Download HD nature photos for free
        on Unsplash.","cover_photo":{"id":"VE5FRc7uiC4","created_at":"2018-10-15T04:58:20-04:00","updated_at":"2020-05-14T01:16:30-04:00","promoted_at":"2018-10-15T08:23:00-04:00","width":4640,"height":3480,"color":"#989EAF","description":"lost
        in the sky","alt_description":"star in space","urls":{"raw":"https://images.unsplash.com/photo-1539593395743-7da5ee10ff07?ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1539593395743-7da5ee10ff07?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb","regular":"https://images.u[...]
