---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=portland,or&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Portland, OR
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Portland",
                       "short_name" : "Portland",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Multnomah County",
                       "short_name" : "Multnomah County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Oregon",
                       "short_name" : "OR",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Portland, OR, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 45.6528856,
                          "lng" : -122.4719641
                       },
                       "southwest" : {
                          "lat" : 45.43254049999999,
                          "lng" : -122.8366901
                       }
                    },
                    "location" : {
                       "lat" : 45.5051064,
                       "lng" : -122.6750261
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 45.6528856,
                          "lng" : -122.4719641
                       },
                       "southwest" : {
                          "lat" : 45.43254049999999,
                          "lng" : -122.8366901
                       }
                    }
                 },
                 "place_id" : "ChIJJ3SpfQsLlVQRkYXR9ua5Nhw",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 08 Jun 2020 04:20:00 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_API_KEY>&exclude=minutely&lat=45.5051064&lon=-122.6750261&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":45.51,"lon":-122.68,"timezone":"America/Los_Angeles","timezone_offset":-25200,"current":{"dt":1591589892,"sunrise":1591532558,"sunset":1591588624,"temp":54.07,"feels_like":48.97,"pressure":1021,"humidity":80,"dew_point":48.04,"uvi":7.41,"clouds":63,"wind_speed":8.28,"wind_deg":297,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"rain":{"1h":0.13}},"hourly":[{"dt":1591588800,"temp":54.07,"feels_like":48.97,"pressure":1021,"humidity":80,"dew_point":48.04,"clouds":63,"wind_speed":8.28,"wind_deg":297,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"rain":{"1h":0.13}},{"dt":1591592400,"temp":54.12,"feels_like":48.9,"pressure":1021,"humidity":73,"dew_point":45.68,"clouds":57,"wind_speed":7.47,"wind_deg":300,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}]},{"dt":1591596000,"te[...]
