---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=portland,or&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Portland, OR
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Portland",
                       "short_name" : "Portland",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Multnomah County",
                       "short_name" : "Multnomah County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Oregon",
                       "short_name" : "OR",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Portland, OR, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 45.6528856,
                          "lng" : -122.4719641
                       },
                       "southwest" : {
                          "lat" : 45.43254049999999,
                          "lng" : -122.8366901
                       }
                    },
                    "location" : {
                       "lat" : 45.5051064,
                       "lng" : -122.6750261
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 45.6528856,
                          "lng" : -122.4719641
                       },
                       "southwest" : {
                          "lat" : 45.43254049999999,
                          "lng" : -122.8366901
                       }
                    }
                 },
                 "place_id" : "ChIJJ3SpfQsLlVQRkYXR9ua5Nhw",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 09 Jun 2020 23:17:32 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_API_KEY>&exclude=minutely&lat=45.5051064&lon=-122.6750261&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":45.51,"lon":-122.68,"timezone":"America/Los_Angeles","timezone_offset":-25200,"current":{"dt":1591744653,"sunrise":1591705325,"sunset":1591761501,"temp":62.28,"feels_like":54.75,"pressure":1021,"humidity":77,"dew_point":54.99,"uvi":7.44,"clouds":75,"visibility":16093,"wind_speed":16.11,"wind_deg":200,"wind_gust":23.04,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1591743600,"temp":62.28,"feels_like":59.32,"pressure":1021,"humidity":77,"dew_point":54.99,"clouds":75,"wind_speed":7.96,"wind_deg":189,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},{"dt":1591747200,"temp":61.86,"feels_like":58.77,"pressure":1021,"humidity":77,"dew_point":54.59,"clouds":87,"wind_speed":8.01,"wind_deg":191,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},{"dt":1591750800,"temp":61.99,"feels_like":59.79,"pressure":1021,"humidity":79,"dew_point":55.42,"clouds":95,"wind_speed":6.89,"wind_deg":194,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},{"dt":1591754400,"temp":61.14,"feels_like":59.25,"pressure":1021,"humidity":82,"dew_point":55.62,"clouds":97,"wind_speed":6.46,"wind_deg":194,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},{"dt":1591758000,"temp":60.98,"feels_like":59.23,"pressure":1022,"humidity":82,"dew_point":55.45,"clouds":92,"wind_speed":6.11,"wind_deg":187,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},{"dt":1591761600,"temp":59.58,"feels_like":58.71,"pressure":1021,"humidity":86,"dew_point":55.65,"clouds":93,"wind_speed":4.5,"wind_deg":184,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"rain":{"1h":0.11}},{"dt":1591765200,"temp":59.32,"feels_like":59.29,"pressure":1022,"humidity":87,"dew_point":55.63,"clouds":94,"wind_speed":3.09,"wind_deg":178,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},{"dt":1591768800,"temp":58.57,"feels_like":59.22,"pressure":1022,"humidity":89,"dew_point":55.51,"clouds":90,"wind_speed":1.79,"wind_deg":169,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},{"dt":1591772400,[...]
