---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_API_KEY>&exclude=minutely&lat=47.6062095&lon=-122.3320708
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":47.61,"lon":-122.33,"timezone":"America/Los_Angeles","timezone_offset":-25200,"current":{"dt":1591568370,"sunrise":1591531952,"sunset":1591589061,"temp":290.24,"feels_like":287.34,"pressure":1015,"humidity":51,"dew_point":280.03,"uvi":6.07,"clouds":90,"visibility":16093,"wind_speed":3.1,"wind_deg":230,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1591567200,"temp":290.24,"feels_like":288.32,"pressure":1015,"humidity":51,"dew_point":280.03,"clouds":90,"wind_speed":1.71,"wind_deg":222,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"rain":{"1h":0.65}},{"dt":1591570800,"temp":289.88,"feels_like":288.66,"pressure":1014,"humidity":59,"dew_point":281.84,"clouds":74,"wind_speed":1.31,"wind_deg":222,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},{"dt":1591574400,"temp":290.44,"feels_like":290.16,"pressure":1013,"humidity":60,"dew_point":282.61,"clouds":60,"wind_speed":0.26,"wind_deg":181,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"rain":{"1h":0.64}},{[...]
