---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=seattle,wa&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Seattle, WA
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Seattle",
                       "short_name" : "Seattle",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "King County",
                       "short_name" : "King County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Washington",
                       "short_name" : "WA",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Seattle, WA, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 47.734145,
                          "lng" : -122.2244331
                       },
                       "southwest" : {
                          "lat" : 47.4919119,
                          "lng" : -122.4596959
                       }
                    },
                    "location" : {
                       "lat" : 47.6062095,
                       "lng" : -122.3320708
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 47.734145,
                          "lng" : -122.2244331
                       },
                       "southwest" : {
                          "lat" : 47.4919119,
                          "lng" : -122.4596959
                       }
                    }
                 },
                 "place_id" : "ChIJVTPokywQkFQRmtVEaUZlJRA",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 08 Jun 2020 00:32:37 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_API_KEY>&exclude=minutely&lat=47.6062095&lon=-122.3320708
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":47.61,"lon":-122.33,"timezone":"America/Los_Angeles","timezone_offset":-25200,"current":{"dt":1591576357,"sunrise":1591531952,"sunset":1591589061,"temp":289.86,"feels_like":287.04,"pressure":1016,"humidity":59,"dew_point":281.82,"uvi":6.89,"clouds":40,"visibility":16093,"wind_speed":3.6,"wind_deg":200,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"hourly":[{"dt":1591574400,"temp":289.86,"feels_like":289.12,"pressure":1016,"humidity":59,"dew_point":281.82,"clouds":40,"wind_speed":0.62,"wind_deg":89,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"rain":{"1h":0.91}},{"dt":1591578000,"temp":289.52,"feels_like":288.14,"pressure":1015,"humidity":63,"dew_point":282.47,"clouds":69,"wind_speed":1.78,"wind_deg":83,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},{"dt":1591581600,"temp":288.89,"feels_like":286.83,"pressure":1014,"humidity":67,"dew_point":282.79,"clouds":84,"wind_speed":2.87,"wind_deg":90,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"rain":{"1h":0.24}},{"d[...]
