---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=-VgrHlxIKcKyM5wvHL9vcQ14C8lx2hxa5cvp7-Qjmdo&query=shinjuku,jp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?client_id=-VgrHlxIKcKyM5wvHL9vcQ14C8lx2hxa5cvp7-Qjmdo&page=34&query=shinjuku%2Cjp>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=-VgrHlxIKcKyM5wvHL9vcQ14C8lx2hxa5cvp7-Qjmdo&page=2&query=shinjuku%2Cjp>;
        rel="next"
      X-Total:
      - '332'
      X-Per-Page:
      - '10'
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '47'
    body:
      encoding: ASCII-8BIT
      string: '{"total":332,"total_pages":34,"results":[{"id":"OKdKNyD1RLI","created_at":"2019-10-08T03:58:08-04:00","updated_at":"2020-05-21T01:42:22-04:00","promoted_at":null,"width":5093,"height":3395,"color":"#F40209","description":"Shinjuku,
        Tokio - Japan","alt_description":"city building and asphalt road scenery","urls":{"raw":"https://images.unsplash.com/photo-1570521462033-3015e76e7432?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjE0MDkwMX0","full":"https://images.unsplash.com/photo-1570521462033-3015e76e7432?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0MDkwMX0","regular":"https://images.unsplash.com/photo-1570521462033-3015e76e7432?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjE0MDkwMX0","small":"https://images.unsplash.com/photo-1570521462033-3015e76e7432?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0MDkwMX0","thumb":"https://images.unsplash.com/photo-1570521462033-3015e76e7432?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjE0MDkwMX0"},"links":{"self":"https://api.unsplash.com/photos/OKdKNyD1RLI","html":"https://unsplash.com/photos/OKdKNyD1RLI","download":"https://unsplash.com/photos/OKdKNyD1RLI/download","download_location":"https://api.unsplash.com/photos/OKdKNyD1RLI/download"},"categories":[],"likes":9,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"user":{"id":"jZYdvA41buw","updated_at":"2020-06-09T02:06:33-04:00","username":"alschim","name":"Alexander
        Schimmeck","first_name":"Alexander","last_name":"Schimmeck","twitter_username":null,"portfolio_url":"https://www.paypal.me/alschim","bio":"https://www.alschim.com","location":"Germany","links":{"self":"https://api.unsplash.com/users/alschim","html":"https://unsplash.com/@alschim","photos":"https://api.unsplash.com/users/alschim/photos","likes":"https://api.unsplash.com/users/alschim/likes","portfolio":"https://api.unsplash.com/users/alschim/portfolio","following":"https://api.unsplash.com/users/alschim/following","followers":"https://api.unsplash.com/users/alschim/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1563281990997-3aace57092bb?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32","medium":"https://images.unsplash.com/profile-1563281990997-3aace57092bb?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64","large":"https://images.unsplash.com/profile-1563281990997-3aace57092bb?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128"},"instagram_username":"alschim29","total_collections":0,"total_likes":12,"total_photos":188,"accepted_tos":true},"tags":[{"type":"search","title":"road"},{"type":"landing_page","title":"city","source":{"ancestry":{"type":{"slug":"wallpapers","pretty_slug":"HD
        Wallpapers"},"category":{"slug":"travel","pretty_slug":"Travel"},"subcategory":{"slug":"city","pretty_slug":"City"}},"title":"HD
        City Wallpapers","subtitle":"Download Free City Wallpapers","description":"Choose
        from a curated selection of city wallpapers for your mobile and desktop screens.
        Always free on Unsplash.","meta_title":"City Wallpapers: Free HD Download
        [500+ HQ] | Unsplash","meta_description":"Choose from hundreds of free city
        wallpapers. Download HD wallpapers for free on Unsplash.","cover_photo":{"id":"Nyvq2juw4_o","created_at":"2016-10-31T20:26:28-04:00","updated_at":"2020-05-28T01:05:07-04:00","promoted_at":"2016-10-31T20:26:28-04:00","width":3465,"height":2131,"color":"#F8E4D9","description":"City
        architecture and skyscrapers near waterfront","alt_description":"white and
        brown city buildings during daytime","urls":{"raw":"https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?ix[...]
