---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=shinjuku,jp&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Tokyo
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Shinjuku City",
                       "short_name" : "Shinjuku City",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Tokyo",
                       "short_name" : "Tokyo",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "Japan",
                       "short_name" : "JP",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Shinjuku City, Tokyo, Japan",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 35.72976999999999,
                          "lng" : 139.745134
                       },
                       "southwest" : {
                          "lat" : 35.6732961,
                          "lng" : 139.6732668
                       }
                    },
                    "location" : {
                       "lat" : 35.6938253,
                       "lng" : 139.7033559
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 35.72976999999999,
                          "lng" : 139.745134
                       },
                       "southwest" : {
                          "lat" : 35.6732961,
                          "lng" : 139.6732668
                       }
                    }
                 },
                 "place_id" : "ChIJS_23WSCNGGAR0u8y4o_GYew",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 09 Jun 2020 21:32:42 GMT
recorded_with: VCR 6.0.0
