---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=tokyo,jp&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Tokyo
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Tokyo",
                       "short_name" : "Tokyo",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "Japan",
                       "short_name" : "JP",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Tokyo, Japan",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 35.8984285,
                          "lng" : 153.9867945
                       },
                       "southwest" : {
                          "lat" : 20.4251032,
                          "lng" : 136.0696826
                       }
                    },
                    "location" : {
                       "lat" : 35.6761919,
                       "lng" : 139.6503106
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 36.4408483,
                          "lng" : 141.2405144
                       },
                       "southwest" : {
                          "lat" : 34.5776326,
                          "lng" : 138.2991098
                       }
                    }
                 },
                 "place_id" : "ChIJ51cu8IcbXWARiRtXIothAS4",
                 "types" : [ "administrative_area_level_1", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 09 Jun 2020 22:04:46 GMT
recorded_with: VCR 6.0.0
